* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

header {
  background: teal;
  padding: 1rem;
  text-align: center;
}
/* container style  */
.container {
  margin: auto;
  width: 500px;
  overflow: auto;
  padding: 3rem 2rem;
}

/* Form style */
#my-form {
  padding: 2rem;
  background: lightsalmon;
  border-radius: 20px;
}

#my-form label {
  display: block;
}

#my-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Button styles */
.btn {
  display: block;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 15px;
  margin: 5px 0;
}

.btn:hover {
  background: teal;
}

/* Dark background styles */
.bg-dark {
  background: #333;
  color: #fff;
}

.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
}
/*[type="text"]  use to pick individual input box*/
